* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: #0d1117;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 100;
  padding: 0.5rem 0rem;
}

.left {
  animation: left 1s ease-in-out;
}

.right {
  text-align: end;
  animation: right 1s ease-in-out forwards;
}

#logo {
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
  filter: drop-shadow(0px 0px 5px #ffffff);
  animation: flicker 0.8s 4 1s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 322px;
  stroke-dashoffset: 322;
  animation: line-animation 2s ease forwards 1.2s;
}
#logo path:nth-child(2) {
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-animation 2s ease forwards 1.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-animation 2s ease forwards 1.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 255;
  stroke-dashoffset: 255;
  animation: line-animation 2s ease forwards 1.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: line-animation 2s ease forwards 1.6s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  animation: line-animation 2s ease forwards 2.1s;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flicker {
  10%,
  30%,
  60%,
  75% {
    opacity: 1;
  }
  20%,
  40%,
  70% {
    opacity: 0.45;
  }
}

@keyframes left {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes right {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(-75px);
  }
}
